<!DOCTYPE html>
<html lang="es">

<%- include ('../partials/head.ejs') %>

    <body>
        <input type="checkbox" id="check">

        <%- include ('../partials/header.ejs') %>
            <%- include ('../partials/nav.ejs') %>




                <main>
                    <div class="textSuperior">
                        <p><a href="#">Inicio > </a><a href="#">Tecnología > </a><a href="#">Celulares y Accesorios >
                            </a><a href="#">Motorola</a></p>
                    </div>

                    <!-- Contenedor triple que indica la sección actual -->
                    <div class="container-text">
                        <div class="container-text1">
                            <p>Carrito</p>
                        </div>
                        <div class="container-text2">
                            <p>Verificación de compra</p>
                        </div>
                        <div class="container-text3">
                            <p>Forma de pago</p>
                        </div>
                    </div>

                    <!-- Contenedor del producto y su información -->
                    <div class="box1">
                        <div class="product-container">
                            <div class="product-section">

                                <div class="product">
                                    <img src="/images/mogogs60.webp" alt="Moto G s60">
                                </div>

                                <div class="product-name">
                                    <p>Celular Motorola G60s 128gb Aqua</p>
                                </div>

                            </div>
                            <div class="units">

                                <div class="text-unit">
                                    <p>cantidad:</p>
                                </div>

                                <div class="add-unit">
                                    <select name="cantidad" id="cantidad">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <label for="add-product">x $49.000,00</label>
                                </div>

                            </div>

                            <div class="delet-product-t">
                                <i class="fas fa-trash-alt"></i>
                            </div>

                            <div class="garantia">
                                <div class="extend-warranty">
                                    <p>extender garantía:</p>
                                </div>

                                <label for="radio1" class="radio">
                                    <input type="radio" name="radioField" id="radio1" class="radio__input">
                                    <div class="radio__radio"></div>
                                    Garantía de fábrica
                                </label>

                                <label for="radio2" class="radio">
                                    <input type="radio" name="radioField" id="radio2" class="radio__input">
                                    <div class="radio__radio"></div>
                                    1 año adic: $ 2.500,00
                                </label>

                                <label for="radio3" class="radio">
                                    <input type="radio" name="radioField" id="radio3" class="radio__input">
                                    <div class="radio__radio"></div>
                                    2 años adic: $5.000,00
                                </label>

                            </div>

                            <div class="delete-section">

                                

                                <div class="delet-product">
                                    <i class="fas fa-trash-alt"></i>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- Repetición de código para muestra -->
                    <div class="box1">
                        <div class="product-container">

                            <div class="product-section">

                                <div class="product">
                                    <img src="/images/ps5.webp" alt="Moto G s60">
                                </div>

                                <div class="product-name">
                                    <p>PS5 SONY + 1 JOYSTICK</p>
                                </div>

                            </div>

                            <div class="units">

                                <div class="text-unit">
                                    <p>cantidad:</p>
                                </div>

                                <div class="add-unit">
                                    <select name="cantidad" id="cantidad">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <label for="add-product">x $189.999</label>
                                </div>

                            </div>

                            <div class="delet-product-t">
                                <i class="fas fa-trash-alt"></i>
                            </div>

                            <div class="garantia2">
                                <div class="extend-warranty">
                                    <p>extender garantía:</p>
                                </div>

                                <label for="radio4" class="radio-1">
                                    <input type="radio" name="radioField2" id="radio4" class="radio__input">
                                    <div class="radio__radio"></div>
                                    Garantía de fábrica
                                </label>

                                <label for="radio5" class="radio-1">
                                    <input type="radio" name="radioField2" id="radio5" class="radio__input">
                                    <div class="radio__radio"></div>
                                    1 año adic: $ 2.500,00
                                </label>

                                <label for="radio6" class="radio-1">
                                    <input type="radio" name="radioField2" id="radio6" class="radio__input">
                                    <div class="radio__radio"></div>
                                    2 años adic: $5.000,00
                                </label>

                            </div>

                            <div class="delete-section">

                               
                                <div class="delet-product">
                                    <i class="fas fa-trash-alt"></i>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="total-pay">
                        <div class="product">
                            <a class="btn add-product" href="#">Añadir producto</a>
                        </div>
                        <div class="cupon-d">
                            <input class="input-style-d" type="cupon-d" name="name" placeholder="CÓDIGO DE DESCUENTO">
                            <button class="btn2" type="submit">Validar cupón</button>
                        </div>
                        <p>TOTAL A PAGAR: $239.000,00</p>
                        <div class="stepaso">
                            <a class="btn stepaso" href="#">Siguiente paso</a>
                        </div>
                    </div>

                    <!-- Estructura reservada para versión tablet -->
                    <div class="total-pay-t">
                        <div class="grupo1-t">
                            <div class="flex1">
                                <a class="btn-t sgrcomprando" href="">Añadir producto</a>
                            </div>
                            <div class="flex2">
                                <a class="btn-t stepaso" href="#">Siguiente paso</a>
                            </div>
                        </div>
                        <div class="grupo2-t">
                            <div class="cupon-t">
                                <input class="input-style-t" type="cupon-t" name="name"
                                    placeholder="CÓDIGO DE DESCUENTO">
                                <button class="btn2-t" type="submit">Validar</button>
                            </div>
                            <div class="total-price-t">
                                <p>TOTAL A PAGAR: $96.000,00</p>
                            </div>
                        </div>
                    </div>

                    <!-- Estructuras reservadas para la versión mobile -->
                    <div class="container-mobile">
                        <div class="img-mobile">
                            <img src="/images/mogogs60.webp" alt="Moto G s60">
                        </div>

                        <div class="info-mobile">
                            <p>Celular Motorola G60s 128gb Aqua</p>
                        </div>

                        <div class="content-mobile">
                            <div class="desplegagle-mobile">
                                <select name="cantidad" id="cantidad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <label for="box3">x $49.000,00</label>
                            </div>
                            <div class="icon-mobile">
                                <i class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Contenedor de relleno para muestra -->
                    <div class="container-mobile">
                        <div class="img-mobile">
                            <img src="/images/mogogs60.webp" alt="Moto G s60">
                        </div>

                        <div class="info-mobile">
                            <p>Celular Motorola G60s 128gb Aqua</p>
                        </div>

                        <div class="content-mobile">
                            <div class="desplegagle-mobile">
                                <select name="cantidad" id="cantidad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <label for="box3">x $49.000,00</label>
                            </div>
                            <div class="icon-mobile">
                                <i class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Contenedor para confirmar el pago versión Mobile -->
                    <div class="pago-mobile">

                        <div class="cupon-mobile">
                            <input class="input-mobile" type="cupon" name="name" placeholder="CÓDIGO DE DESCUENTO">
                            <button class="btn2-mobile" type="submit">Validar cupón</button>
                        </div>

                        <p>TOTAL A PAGAR: $96.000,00</p>

                        <div class="flex-mobile">

                            <div class="product-mobile">
                                <a class="btn-mobile" href="#">Añadir producto</a>
                            </div>

                            <div class="stepaso-mobile">
                                <a class="btn-mobile" href="#">Siguiente paso</a>
                            </div>

                        </div>
                    </div>

                </main>

                <div class="espacio-vacio"></div>

                <%- include ('../partials/footer.ejs') %>
                    <%- include ('../partials/scripts.ejs') %>

    </body>

</html>