<!DOCTYPE html>
<html lang="es">
    <input type="checkbox" id="check">

    <%- include('../partials/head.ejs')  %> 

<body>
    
    <%- include ('../partials/header.ejs') %>

    <%- include ('../partials/nav.ejs') %>

    <main>

        <!-- Texto y enlaces superioriores -->
        <div class="textSuperior">
            <p><a href="#">Inicio</a> > <a href="#">Tecnología</a> > <a href="#">Celulares y Accesorios</a> > <a
                    href="#">Motorola</a></p>
        </div>

        <!-- Contenedor de detalles [Carrito-Verificación-Pago] -->
        <div class="container1">
            <!-- Primer contenedor -->

            <div class="container-proccess1">
                <!-- Cajita del carrito -->
                <p>Carrito</p>
            </div>

            <div class="container-proccess2">
                <!-- Cajita de la verificación -->
                <p>Verificación compra</p>
            </div>

            <div class="container-proccess3">
                <!-- Cajita de Forma de pago -->
                <p>Forma de pago</p>
            </div>

        </div>

        <!-- Cajita del texto carrito mobile -->
        <div class="carrito-mobile">
            <p>Carrito</p>
        </div>

        <!-- Barra decorativa de color negro -->
        <div class="container2"></div>

        <!-- Barra decorativa de color negro versión mobile -->

        <div class="black-bar-tablet"></div>

        <!-- Contenedor de los productos -->
        <div class="container3">
            <div class="box1">
                <img src="/images/mogogs60.webp" alt="Moto G s60">
            </div>
            <div class="box2">
                <p>Celular Motorola G60s 128gb Aqua</p>
            </div>
            <div class="box3">
                <select name="cantidad" id="cantidad">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <label for="box3">x $49.000,00</label>
            </div>
            <div class="box4">
                <a href="#">Eliminar del carrito</a>
            </div>

            <div class="box5">
                <a href="#">Guardar para después</a>
            </div>
        </div>

        <!-- Contenedor de los productos -->
        <div class="container3">
            <div class="box1">
                <img src="/images/mogogs60.webp" alt="Moto G s60">
            </div>
            <div class="box2">
                <p>Celular Motorola G60s 128gb Aqua</p>
            </div>
            <div class="box3">
                <select name="cantidad" id="cantidad">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <label for="box3">x $49.000,00</label>
            </div>
            <div class="box4">
                <a href="#">Eliminar del carrito</a>
            </div>

            <div class="box5">
                <a href="#">Guardar para después</a>
            </div>
        </div>

        <div class="container3-tablet">
            <div class="box1-tablet">
                <div class="img-tablet">
                    <img src="/images/mogogs60.webp" alt="Moto G s60">
                </div>
                <div class="column-tablet">
                    <div class="info-tablet">
                        <p>Celular Motorola G60s 128gb Aqua</p>
                    </div>
                    <div class="info2-tablet">
                        <p>$49.000,00</p>
                    </div>
                </div>
            </div>
            <div class="box2-tablet">
                <div class="desplegagle-tablet">
                    <select name="cantidad" id="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="icon-tablet">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>
        
        <div class="container3-tablet">
            <div class="box1-tablet">
                <div class="img-tablet">
                    <img src="/images/mogogs60.webp" alt="Moto G s60">
                </div>
                <div class="column-tablet">
                    <div class="info-tablet">
                        <p>Celular Motorola G60s 128gb Aqua</p>
                    </div>
                    <div class="info2-tablet">
                        <p>$49.000,00</p>
                    </div>
                </div>
            </div>
            <div class="box2-tablet">
                <div class="desplegagle-tablet">
                    <select name="cantidad" id="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="icon-tablet">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>

        <!-- Contenedor de producto versión mobile -->
        <div class="container3-mobile">
            <div class="content-mobile">
                <div class="img-mobile">
                    <img src="/images/mogogs60.webp" alt="Moto G s60">
                </div>
                <div class="info-mobile">
                    <p>Celular Motorola G60s 128gb Aqua</p>
                </div>
                <div class="content-mobile2">
                    <div class="desplegagle-mobile">
                        <select name="cantidad" id="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <label for="box3">x $49.000,00</label>
                    </div>
                    <div class="icon-mobile">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="container3-mobile">
            <div class="content-mobile">
                <div class="img-mobile">
                    <img src="/images/mogogs60.webp" alt="Moto G s60">
                </div>
                <div class="info-mobile">
                    <p>Celular Motorola G60s 128gb Aqua</p>
                </div>
                <div class="content-mobile2">
                    <div class="desplegagle-mobile">
                        <select name="cantidad" id="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <label for="box3">x $49.000,00</label>
                    </div>
                    <div class="icon-mobile">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contenedor para confirmar el pago -->
        <div class="container4">
            <div class="cupon">
                <input class="input-style" type="cupon" name="name" placeholder="CÓDIGO DE DESCUENTO">
                <button class="btn2" type="submit">Validar cupón</button>
            </div>
            <p>TOTAL A PAGAR: $96.000,00</p>
            <div class="product">
                <a class="btn btn-add-product" href="#">Añadir producto</a>
            </div>
            <div class="stepaso">
                <a class="btn btn-add-product" href="#">Siguiente paso</a>
            </div>
        </div>

        <!-- Contenedor para confirmar el pago versión Tablet -->
        <div class="pago-tablet">
            <div class="flex">
                <div class="product">
                    <a class="btn-tablet" href="#">Añadir producto</a>
                </div>
                <div class="stepaso">
                    <a class="btn-tablet" href="#">Siguiente paso</a>
                </div>
            </div>

            <div class="flex2">
                <div class="cupon">
                    <input class="input-tablet" type="cupon" name="name" placeholder="Código de descuento">
                    <button class="btn-tablet2" type="submit">Validar</button>
                </div>
                <div class="tpago">
                    <p>TOTAL A PAGAR: $96.000,00</p>
                </div>
            </div>
        </div>

        <!-- Contenedor para confirmar el pago versión Mobile -->
        <div class="pago-mobile">

            <div class="cupon-mobile">
                <input class="input-mobile" type="cupon" name="name" placeholder="CÓDIGO DE DESCUENTO">
                <button class="btn2-mobile" type="submit">Validar cupón</button>
            </div>
            <p>TOTAL A PAGAR: $96.000,00</p>
            <div class="flex-mobile">
                <div class="product-mobile">
                    <a class="btn-mobile" href="#">Añadir producto</a>
                </div>
                <div class="stepaso-mobile">
                    <a class="btn-mobile" href="#">Siguiente paso</a>
                </div>
            </div>
        </div>

    </main>

    <%- include ('../partials/footer.ejs') %>

    <%- include ('../partials/scripts.ejs') %>

</body>

</html>