<!DOCTYPE html>
<html lang="es">
<input type="checkbox" id="check">
<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/header.ejs') %>

            <%- include ('../partials/nav.ejs') %>

                <main>
                    <div class="centerdiv ">

                        <div class="formmain">

                            <form action="/admin/products" method="POST">

                                <div class="formproduct">

                                    <label for="nombre">Nombre del producto:</label>
                                    <input type="text" name="nombre" id="nombre">

                                    <label for="nombre">Marca:</label>
                                    <input type="text" name="marca" id="marca">

                                    <label for="nombre">Precio:</label>
                                    <input type="text" name="precio" id="precio">

                                    <label for="descripcion">Descripcion: </label>
                                    <textarea name="descripcion" id="descripcionid" cols="30" rows="10"></textarea>

                                    <input type="file" name="imagen" id="imagen">
                                    <!-- 
                            <label for="select">Categoria </label>
                            <select name="categorias" id="categoria">
                                <option value="Electrodomesticos"></option>
                                <option value="SmartTV">TV & Audio</option>
                                <option value="Celulares">Celulares</option>
                                <option value="Notebooks"> Notebooks</option>
                                <option value="Climatizacion">Climatizacion</option>
                                <option value="Heladeras">Heladeras</option>
                                <option value="Gaming">Gaming</option>
                                <option value="Lavado">Lavado</option>
                                <option value="Colchones">Colchones</option>

                            </select> 
                        NO ANDAAAAAAAAA -->

                                    <label for="nombre">Categoria:</label>
                                    <input type="text" name="categoria" id="categoria">


                                    <button type="submit"> Cargar producto </button>

                                </div>

                            </form>

                        </div>

                </main>

                <%- include ('../partials/footer.ejs') %>
                    <%- include ('../partials/scripts.ejs') %>

    </body>

</html>