<!DOCTYPE html>
<html lang="es">
    <input type="checkbox" id="check">
    <%- include('../partials/head.ejs')  %> 

<body>


    <%- include('../partials/header.ejs') %> 
     
     <%- include ('../partials/nav.ejs') %>

    <main>
        <div class="section">
            <div class="cards">
                <div class="new-arrival">
                    <h3>Ofertas imperdibles <span>12 cuotas sin interes</span></h3>
                </div>

                <div class="card">
                    <div class="image-section">
                        <img src="/images/tv55led.jpg" alt="">
                    </div>
                    <div class="description">
                        <h1>Smart TV 55</h1>
                        <span>$87.300</span>
                    </div>
                    <small class="cuotas">12 cuotas x $12.500</small>

                    <div class="button-group">
                        <a href="/views/carrito.html" class="buy">Comprar</a>
                        <a href="/views/carrito.html" class="cart">Agregar al carrito</a>
                    </div>

                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>





                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/images/mogogs60.webp" alt="">
                    </div>
                    <div class="description">
                        <h1>Celular MOTO G60S</h1>
                        <span>$49.999</span>
                    </div>
                    <small class="cuotas">12 cuotas x $6453</small>

                    <div class="button-group">
                        <a href="/views/carrito.html" class="buy">Comprar</a>
                        <a href="/views/carrito.html" class="cart">Agregar al carrito</a>
                    </div>

                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>


                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/images/ps5.webp" alt="">
                    </div>
                    <div class="description">
                        <h1>PS5 Sony + 1 Joystick</h1>
                        <span>$189.999</span>
                    </div>
                    <small class="cuotas">12 cuotas x $23.766</small>

                    <div class="button-group">
                        <a href="/views/products/carrito.ejs" class="buy">Comprar</a>
                        <a href="/views/carrito.ejs" class="cart">Agregar al carrito</a>
                    </div>

                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>





                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/images/heladera.jpg" alt="">
                    </div>
                    <div class="description">
                        <h1>Smart TV 55</h1>
                        <span>$63.999</span>
                    </div>
                    <small class="cuotas">12 cuotas x $9.990</small>

                    <div class="button-group">
                        <a href="/views/carrito.html" class="buy">Comprar</a>
                        <a href="/views/carrito.html" class="cart">Agregar al carrito</a>
                    </div>

                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>





                </div>
            </div>
        </div>

        


    </main>
     



    <%- include ('../partials/footer.ejs') %>

    <%- include ('../partials/scripts.ejs') %>

</body>


</html>