<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs', {title: ' Inicio | ElectroHogar'}) %>

<body onload="loginCheck()">
    <%- include('../partials/header.ejs') %>

    <%- include ('../partials/nav.ejs') %>


    <main>

        <div>
            <img src="/public/images/BANNEREG1.jpg" alt="">
        </div>

        <!-- Carrousel -->
        <div class="swiper mySwiper1">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/images/bannerEG.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/images/BANNEREG1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/images/BANNEREG2.jpg" alt=""></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>


        <!-- End Carrousel -->

        <!-- Linea bajo carusel -->

        <div class="lineabajocarousel">
            <div class="col1linea">
                <img class="imgtrucklinea" src="/images/delivery-truck (1).png" alt="">
                <span>ENVÍOS A <b> TODO EL PAÍS </b> </span>
            </div>

            <div class="col2linea">
                <img class="tarjetaslinea" src="/images/549d2cb2275c2ae398b2f7bd1450.png" alt="">
                <span>Pagá con crédito y débito
                    </span>
                    <a href="#" id="open" class="cta">Ver promociones</a>
            </div>

            <div class="modal-container" id="modal_container">
                <div class="modal modal-close">
                    <p class="close" id="close">X</p>
                    <img src="/img/medio-de-pago.png" alt="">
                </div>
            </div>


            

            <div class="col3linea">
                <img class="envioslinea" src="/images/ayudar.png" alt="">
                <span>Consulta tus dudas al <b>0810-1111-4444</b> </span>

            </div>
        </div>
        <br>
        <!-- End Linea bajo carusel -->

        <!-- Swiper / 12 Cuotas -->

        <div class="SectionTittle">
            <div class="separadorh3">
            </div>
            <H3>Ofertas imperdibles en <b> 12 cuotas sin interes! </b></H3>
            <div class="separadorh3">
            </div>
        </div>

        <div class="sectionSwiper">
            <!-- Swiper / 12 Cuotas -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">

                    <% products12cuotas.forEach(Product=> { %>
                    <div class="swiper-slide">
                        <div class="cardSlider">
                            <a href="/products/detail/<%- Product.id %>">
                                <div class="image-section">
                                    <img src="/images/productsDB/<%- Product.productImages[0].image %>" alt="">
                                </div>
                                <div class="descriptionSlider">
                                    <h1>
                                        <% if (Product.name.length> 10) { %>
                                        <%- `${Product.name.slice(0,90)}` %>
                                        <% } else { %>
                                        <%= Product.name %>
                                        <% } %>
                                    </h1>
                                    <span>$<%- Product.price %></span>
                                    <div class="discountCardPrice">

                                        <div class="discountPricediv">
                                            <% if (Product.discount> 0) { %>
                                            <span class="discountPrice">
                                                <%- (Product.price * Product.discount) / 100 %>
                                            </span>
                                            <span class="discountCard">
                                                <%- Product.discount%> %OFF
                                            </span>
                                            <% } else { %>

                                            <% } %>
                                        </div>

                                    </div>

                                </div>
                                <small class="cuotasSlider">
                                    <%- Product.cuotes %> cuotas x
                                    <%-(Math.ceil(Product.price / Product.cuotes)) %>
                                </small>

                            </a>

                        </div>
                    </div>

                    <% }) %>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <br>
        <!-- END Swiper / 12 Cuotas -->


        <div class="imgcategorias">
            <a href="/products/category/5"> <img src="/images/512.jpg" alt=""></a>
            <a href="/products/category/3"> <img src="/images/513.jpg" alt=""></a>
        </div>
        

        <!-- Swiper / Notebookss -->

        <div class="SectionTittle">
            <div class="separadorh3">
            </div>
            <H3> Las mejores notebooks para<b> estudiar </b></H3>
            <div class="separadorh3">
            </div>
        </div>
        

        <div class="sectionSwiper">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">

                    <% productscomputacion.forEach(Product=> { %>
                    <div class="swiper-slide">
                        <div class="cardSlider">
                            <a href="/products/detail/<%- Product.id %>">
                                <div class="image-section">
                                    <img src="/images/productsDB/<%- Product.productImages[0].image %>" alt="">
                                </div>
                                <div class="descriptionSlider">
                                    <h1>
                                        <% if (Product.name.length> 10) { %>
                                        <%- `${Product.name.slice(0,90)}` %>
                                        <% } else { %>
                                        <%= Product.name %>
                                        <% } %>
                                    </h1>
                                    <span>$<%- Product.price %></span>
                                    <div class="discountCardPrice">

                                        <div class="discountPricediv">
                                            <% if (Product.discount> 0) { %>
                                            <span class="discountPrice">
                                                <%- (Product.price * Product.discount) / 100 %>
                                            </span>
                                            <span class="discountCard">
                                                <%- Product.discount%> %OFF
                                            </span>
                                            <% } else { %>

                                            <% } %>
                                        </div>

                                    </div>

                                </div>
                                <small class="cuotasSlider"> <%- Product.cuotes %> cuotas x
                                    <%- Product.price / Product.cuotes  %>
                                </small>



                            </a>

                        </div>
                    </div>

                    <% }) %>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

        <!-- END Swiper / Notebookss -->

        <div class="containeHomerMarcas">

        <div class="contenedores-grid">
            <div class="titulo-marcas">
                <h3>¡Nuestras marcas destacadas!</h3>
            </div>
            <div class="grid-marcas">

                <div class="caja" style="--i:url(/images/carouselMarcas1.jpg)">
                    <div class="contenido-caja">
                        <h2>Samsung</h2>
                        <a href="/products/search?keywords=samsung">Ver productos Samsung</a>
                    </div>
                </div>
                <div class="caja" style="--i:url(/images/carouselMarcas2.jpg)">
                    <div class="contenido-caja">
                        <h2>Apple</h2>
                        <a href="/products/search?keywords=app">Ver productos Apple</a>
                    </div>
                </div>
                <div class="caja" style="--i:url(/images/carouselMarcas3.jpg)">
                    <div class="contenido-caja">
                        <h2>HP</h2>
                        <a href="/products/search?keywords=hp">Ver productos HP</a>
                    </div>
                </div>
                <div class="caja" style="--i:url(/images/Carousel2Marcas1.jpg)">
                    <div class="contenido-caja">
                        <h2>Xiaomi</h2>
                        <a href="/products/search?keywords=xiaomi">Ver productos Xiaomi</a>
                    </div>
                </div>
                <div class="caja" style="--i:url(/images/carouselMarcas4.jpg)">
                    <div class="contenido-caja">
                        <h2>Motorola</h2>
                        <a href="/products/search?keywords=motorola">Ver productos Motorola</a>
                    </div>
                </div>
                <div class="caja" style="--i:url(/images/drean.jpg)">
                    <div class="contenido-caja">
                        <h2>Drean</h2>
                        <a href="/products/search?keywords=drean">Ver productos Drean</a>
                    </div>
                </div>
            </div>
            <div class="grid-marcas2">
                <div class="caja-adaptable" style="--i:url(/images/carouselMarcas6.jpg)">
                    <div class="contenido-caja-adap">
                        <h2>TCL</h2>
                        <a href="/products/search?keywords=tcl">Ver productos TCL</a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Boton de ir hacia arriba-->
<div id="button-up">
    <i class="fas fa-chevron-up"></i>
</div>

    <a href="/users/chat" class="chatA"><span class="chat-svg-size" type="Icon--chat"><svg
                id="Layer_1" x="0" y="0" viewBox="0 0 15 16" xml:space="preserve" aria-hidden="true">
                <title></title>
                <path
                    d="M1.3,16c-0.7,0-1.1-0.3-1.2-0.8c-0.3-0.8,0.5-1.3,0.8-1.5c0.6-0.4,0.9-0.7,1-1c0-0.2-0.1-0.4-0.3-0.7c0,0,0-0.1-0.1-0.1 C0.5,10.6,0,9,0,7.4C0,3.3,3.4,0,7.5,0C11.6,0,15,3.3,15,7.4s-3.4,7.4-7.5,7.4c-0.5,0-1-0.1-1.5-0.2C3.4,15.9,1.5,16,1.5,16 C1.4,16,1.4,16,1.3,16z M3.3,10.9c0.5,0.7,0.7,1.5,0.6,2.2c0,0.1-0.1,0.3-0.1,0.4c0.5-0.2,1-0.4,1.6-0.7c0.2-0.1,0.4-0.2,0.6-0.1 c0,0,0.1,0,0.1,0c0.4,0.1,0.9,0.2,1.4,0.2c3,0,5.5-2.4,5.5-5.4S10.5,2,7.5,2C4.5,2,2,4.4,2,7.4c0,1.2,0.4,2.4,1.2,3.3 C3.2,10.8,3.3,10.8,3.3,10.9z">
                </path>
            </svg></span><span class="chat-position-middle "> Chat atencion al cliente</span></a>

</main>

<%- include ('../partials/footer.ejs') %>

<%- include ('../partials/scripts.ejs') %>

<script src="/js/botonArriba.js"></script>

        <script src="/js/modoOscu.js"></script>


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

          



      

        <script src="/js/cerrarModal.js"></script>

    <!-- Google login script -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <script src="/js/modoOscu.js"></script>

    <script src="/js/Bienvenido.js"></script>
 
</body>

</html>