<!DOCTYPE html>
<html lang="es">

    <%- include ('../partials/head.ejs') %>

    <%- include ('../partials/header.ejs') %>

    <%- include ('../partials/nav.ejs') %>

<body>

    <p class="ingresoDeTarjeta">Ingrese los datos de su tarjeta</p>

<div class="padreTarje">
  
    <div class="tarjeta"> 
     <header class="iMgCredito">
        <img src="/img/tarjeta-de-credito.jpg">
     </header>
    </div>

    <div class="formularios">
      <div class="formTarjeta">
        <input id="numero" class="input-style" type="text" name="numero" placeholder="Número de tarjeta:" >
        <span class="error" id="numeroErrors"></span>
      </div>

       <div class="formTarjeta">
        <input id="name" class="input-style" type="text" name="name" placeholder="Nombre:" >
            <span class="error" id="nameErrors"></span>
       </div>

       <div class="formTarjeta"> 
       <input id="lastname" class="input-style" type="text" name="lastname" placeholder="Apellido:" >
            <span class="error" id="lastnameErrors"></span>
        </div>

       <div class="formTarjeta">
        <input id="fecha" class="input-style" type="text" name="fecha" placeholder="fecha de expiración:" >
            <span class="error" id="fechaErrors"></span>
        </div>
  
         <div class="formTarjeta">
            <input id="codigo" class="input-style" type="text" name="codigo" placeholder="Codigo de seguridad:" >
            <span class="error" id="codigoErrors"></span>
         </div>

         <div class="formTarjeta">
            <input id="dni" class="input-style" type="text" name="dni" placeholder="DNI del titular de la tarjeta:" >
            <span class="error" id="dniErrors"></span>
           </div>
    </div>
  
    <div class="pagarPadre3"> 
       
        <span class="pagar"> <button type="dsff" class="btn">Pagar</button> </span>
       
    </div>

 </div>

 <script src="/js/validacionesPagar.js"></script>

 <%- include ('../partials/footer.ejs') %>
    <%- include ('../partials/scripts.ejs') %>
</body>
</html>