<!DOCTYPE html>
<html lang="es">


<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/header.ejs') %>

            <%- include('../partials/nav.ejs') %>

                <main>
                    <p class="enrutador"> Inicio > Tecnologia > <%- Categories.name  %> > <%- Subcategories.name %></p>

                    <div class="small-container single-product">
                        <div class="roww">
                            <div class="col-2">
                                <div class="imgcontainercol2">
                                    <img src="/images/productsDB/<%-productdetail.productImages[0].image%>" alt="" id="ProductImg">
                               </div>
                                <div class="small-img-row">
                                    <div class="small-img-col">
                                        <div>
                                        <img class="small-img" src="/images/productsDB/<%-productdetail.productImages[0].image  %>  " alt="">
                                         </div>
                                        <div class="small-cuadrado">
                                            <img class="small-img" src="/images/productsVS/<%-productdetail.productImages[0].image  %>  " alt="">

                                     </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col2"><div class="favdetail">
                                <i class="fa">&#xf004;</i>
                            </div>
                                <p class="p"><%- productdetail.brand %>  </p>
                                
                                <h3 class="tituloprod"><%- productdetail.name %>  </h3>
                                <h4 class="precioprod">$<%- productdetail.price %> </h4>
                                <p class="cuotaprod"><%- productdetail.cuotes  %> Cuotas sin interes x $<%- productdetail.price / productdetail.cuotes  %> </p>
                               
                                <input type="number" value="1">
                                <a href="#" class="btncomprar">Comprar</a>
                                <a href="#" class="btncart"> Agregar al carrito</a>
                                <div class="prodenvioicon">
                                    <img src="/images/delivery-truck (1).png" alt="">
                                    <p class="prodenvio"> Retiro gratis por sucursal
                                        <br><a class="greelineprod" href="#">Ver sucursales</a>
                                    </p>
                                </div>

                                <div class="prodesucursalicon">
                                    <img src="/images/tienda.png" alt="">
                                    <p class="prodenvio">Envio a domicilio a todo el pais
                                       <br> <a class="greelineprod" href="#">Ver costos de envio</a>
                                    </p>
                                </div>
                                
                                


                                
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="detalleprod">
                        <div class="infoprod">
                            <div class="detalleyinfo">
                                <h4 class="detalleproductocol1">Detalle de producto</h4>

                            </div>
                          

                            <div class="descripcionprod" id="dpDescripcion" style="display: block;">
                                <%- productdetail.description %> 
                        </div>

                       
                    </div>
                    <br>

                </main>

                <!-- Este script hace que las imagenes al hacer click se puedan visualizar como imagen principal en detail product -->
                <script>
                    var Productimg = document.getElementById("ProductImg");
                    var SmallImg = document.getElementsByClassName("small-img")

                    SmallImg[0].onclick = function () {
                        Productimg.src = SmallImg[0].src;
                    }

                    SmallImg[1].onclick = function () {
                        Productimg.src = SmallImg[1].src;
                    }
                    SmallImg[2].onclick = function () {
                        Productimg.src = SmallImg[2].src;
                    }
                    SmallImg[3].onclick = function () {
                        Productimg.src = SmallImg[3].src;
                    }

                </script>

                <%- include('../partials/footer.ejs') %>

                    <%- include('../partials/scripts.ejs') %>
                  
                        
    </body>

</html>