<!DOCTYPE html>
<html lang="es">
    <input type="checkbox" id="check">

    <%- include('../partials/head.ejs')  %> 


<body>

    <%- include('../partials/header.ejs')  %> 

    <%- include('../partials/nav.ejs')  %> 


    <main>
        <p> Inicio > Tecnologia > Celulares y accesorios > Motorola</p>

        <div class="smallcontainer single-product">
            <div class="row">
                <div class="col-2">
                    <img src="/public/images/motog50sproducdetail.webp" width="50%" id="ProductImg" alt="">
                    <div class="small-img-row">
                        <div class="small-img-col">
                            <img src="/public/images/motog50sproducdetail2.webp" alt="" width="20%" class="small-img">
                        </div>
                    </div>
                    <div class="small-img-row">
                        <div class="small-img-col">
                            <img src="/public/images/motog50sproducdetail3.webp" alt="" width="20%" class="small-img">
                        </div>
                    </div>
                    <div class="small-img-row">
                        <div class="small-img-col">
                            <img src="/public/images/motog50sproducdetail4.webp" alt="" width="20%" class="small-img">
                        </div>
                    </div>
                    <div class="small-img-row">
                        <div class="small-img-col">
                            <img src="/public/images/motog50sproducdetail5.webp" alt="" width="20%" class="small-img">
                        </div>
                    </div>
                </div>
                <div class="col-2right">
                    <h1>Motorola Moto G60S 128gb Azul</h1>
                    <h4>$96.999</h4>
                    <span>6 Cuotas x 12.900.99 Sin Interés </span>
                    <select>
                        <option>Elegir color</option>
                        <option>Aqua</option>
                        <option>Coral Blue</option>
                    </select>
                    <input type="number" value="1">

                    <a href="" class="btn"> Comprar</a>
                    <a href="" class="btn-cuotas"> Ver cuotas y formas de pago</a>

                    <h3>Detalle de producto <i class="fa fa-indent"></i> </h3>
                    <br>
                    <p>
                        Con bordes redondeados y un agarre cómodo, el Motorola G60S es fácil de sostener y posee un
                        excelente diseño. Es más delgado que la mayoría de los smartphones pero con una gran pantalla,
                        por lo que ya no tendrás que sacrificar el tamaño por la comodidad. Sus 6,8 pulgadas ofrecen una
                        resolución FHD de 1080 x 2460, con la que podrás disfrutar de todo tu contenido con colores
                        vívidos y detalles precisos.Batería

                        Tiene una batería de 5000 mAh que le proporciona la energía suficiente para que puedas disfrutar
                        durante todo el día. No te quedes sin espacio

                        El Motorola G60S posee una memoria interna (ROM) de 128GB mientras que la externa se pueda
                        expandir mediante una tarjeta micro SD hasta 1TB.

                        El celular Motorola G60S incorpora una cuádruple cámara trasera: 64 Mp + 8 Mp + 5 Mp + 2 Mp.

                        También, tiene una cámara frontal de 16 Mp con la que vas a poder capturar las mejores selfies.
                        Desempeño

                        Su procesador Octa Core 1.8 Ghz y la memoria RAM de 6 GB te permitirán ejecutar aplicaciones,
                        disfrutar de juegos, reproducir videos y navegar por internet de un modo veloz y sin
                        interrupciones.
                    </p>
                </div>
            </div>
        </div>

        <!-- <div>
           <span class="ruteo">Inicio > Tecnologia> Celulares y accesorios>Motorola</span>
        </div>
        <article>
            <h1>Motorola Moto G60S 128gb Azul</h1>
            <img class="one" src="../public/images/motog50sproducdetail.webp" alt="">
           
        </article>
        <div class="especificaciones">
            <p class="a">$96.999</p>
            <p class="b">6 Cuotas x 12.900.99 Sin Interés</p>
            <button>Comprar</button>
            <a class="input" href="">Ver cuotas y formas de pago</a>
            <i class="far fa-store"></i>
            <p class="p-one">Retiro gratis por sucursal</p>
            <a class="ver" href="">Ver sucursales</a>
            <i class="fal fa-shipping-fast"></i>
            <p class="p-two">Envio a domicilio a todo el pais</p>
            <a class="verd" href="">Calcular costos de envío </a>
        </div>
        <div class="detalles">
            <hr>
            <ul>
                <h1>Detalles</h1>
                <h2>Especificaciones Técnicas</h2>
                <h3>MOTO G100 XT2125-4 MOTOROLA</h3>
                <li>Pantalla 6.7" (1080x2520) 21:9</li>
                <li>Procesador Snapdragon 870, Octa Core 3.2Ghz</li>
                <li>Memoria RAM 8GB LPDDR5</li>
                <li>Memoria interna 128GB</li>
                <li>Expandible hasta 1TB con Micro SD</li>
                <li>Android 11</li>
                <li>Cámara Trasera: Principal 64.2MP (79°)F1.7 + Ultra Gran Angular y Macro 16MP (117°) F2.2 + Profundidad: 2MP (83°) F2.4, Flash Dual LED <(>&<)> Ringflash (for Macro)</li>
                <li> Cámara Frontal: Principal: 16MP (73.3°) F2.2 + Ultra Gran Angular 8MP (118°) F2.4, Flash Backlight</li>
                <li>Resolución de Video: UHD 6K@30fps (3384x6016), UHD 6K 21:9@30fps (2578x6016), UHD 4K@30/60fps (2160x3840), UHD 4K 21:9@30/60fps (1646x3840), FHD 21:9@30/60fps (822x1920), FHD@30/60fps (1080x1920)</li>
                <li>WiFi 802.11a/b/g/n/ac/ax /k/v/r/u</li>
            </ul>
        </div> -->
    </main>

    <!-- Este script hace que las imagenes al hacer click se puedan visualizar como imagen principal en detail product -->
    <script>
        var Productimg = document.getElementById("ProductImg");
        var SmallImg = document.getElementsByClassName("small-img")

        SmallImg[0].onclick = function () {
            Productimg.src = SmallImg[0].src;
        }

        SmallImg[1].onclick = function () {
            Productimg.src = SmallImg[1].src;
        }
        SmallImg[2].onclick = function () {
            Productimg.src = SmallImg[2].src;
        }
        SmallImg[3].onclick = function () {
            Productimg.src = SmallImg[3].src;
        }

    </script>

       <%- include('../partials/footer.ejs')  %> 

    <%- include('../partials/scripts.ejs')  %> 

</body>

</html>