<!DOCTYPE html>
<html lang="es">
<%- include ('../partials/head.ejs', {title: ' contacto | ElectroHogar'}) %>

  <body class="body-contacto">

    <%- include ('../partials/header.ejs') %>

      <%- include ('../partials/nav.ejs') %>

<div class="contactanos"> 
      <h1 class="titulo">Contactanos</h1>
      <h3 class="subtitulo">Para contactarse con ElectroHogar lo puedes hacer por:</h3>
      <p class="texto"> teléfono: +54 0221 8888-1111 </p> 
      <p class="texto"> o </p>
      <p class="texto"> puedes visitarnos en nuestra sucursal ubicada en Calle 7 y 49 La Plata. Buenos Aires, Argentina. </p>
      </div>








      <%- include('../partials/footer.ejs')  %> 
<%- include('../partials/scripts.ejs')  %> 

</body>
</html>