<!DOCTYPE html>
<html lang="es">

  <%- include ('../partials/head.ejs') %>

<body class="body-politica-y-privacidad">
   
    <%- include ('../partials/header.ejs') %>

    <%- include ('../partials/nav.ejs') %>
<body>
    <h1 class="titulo">Política de Privacidad</h1>
    
    <h3 class="texto">La presente Política de Privacidad obra en línea con la Ley de Protección de Datos Personales Nº 25.326 y su decreto reglamentario Nº 1558/2001 (“LPDP”) y normativa complementaria emitida por la autoridad de aplicación de la Ley de Protección de Datos Personales, actualmente la Agencia de Acceso a la Información Pública (“AAIP”).</h3>
    <h3 class="texto">A modo de que ElectroHogar pueda contratar con usted y/o el resto de sus clientes, se informa que será necesario acceder, recopilar, compartir ciertos datos e información personal de cada Beneficiario que adquiera productos, la cual deberá ser suministrada voluntariamente por el Beneficiario, consintiendo el uso de la misma en concordancia con la presente Política de Privacidad.</h3>
    <h3 class="texto">En caso de que Usted no desee que ElectroHogar utilice su información y/o datos personales deberá abstenerse de utilizar el Sitio Web, contratar con ElectroHogar y en efecto abstenerse de brindar la información solicitada para el alta.</h3>
    <h3 class="texto">Si Usted utiliza y accede al Sitio Web y contrata con ElectroHogar significa que ha leído, entendido y consiente los Términos y Condiciones de ElectroHogar y la presente Política de Privacidad. En caso de que no se encontrare de acuerdo con estos, tiene la opción de no proporcionar ninguna información personal. No obstante, la negativa a proporcionar su información personal impedirá que ElectroHogar pueda contratar con Usted.</h3>
    
    <h2 class="subtitulo">Tipo de información personal</h2>
    
    <h3 class="texto">La información y datos personales que podrán ser requeridos por ElectroHogar son los que se describen a continuación: nombre; apellido; DNI; fecha de nacimiento; número de teléfono fijo/celular; dirección de correo electrónico; datos de tarjeta de crédito; género, ocupación, nacionalidad, país de residencia.</h3>
    <h3 class="texto">Usted deberá contar con el consentimiento de cualquier tercero cuyos datos personales suministre a ElectroHogar en el marco de la contratación. Asimismo, ElectroHogar podrá obtener otros datos personales suyos a través de fuentes irrestrictas de información o a través de terceros autorizados a proveer dicha información.</h3>
    
    <h2 class="subtitulo">Uso de la información personal</h2>
    
    <h3 class="texto">Los datos personales se recogen para los siguientes fines:</h3>
    <h3 class="texto">Procesar, administrar, implementar y efectuar las solicitudes de los Productos, así como para llevar adelante las contraprestaciones pactadas contractualmente en toda su extensión, ya sea durante la vigencia de los mismos, su pago, sus modificaciones, bajas etc.;</h3>
    <h3 class="texto">Crear y/o diseñar nuevos o mejorar los productos existentes de ElectroHogar;</h3>
    <h3 class="texto">A modo de poder comunicarnos con usted con respecto a los Productos, los Términos y Condiciones de ElectroHogar, la presente Política de Privacidad y/o cualquier otro documento que sea considerado importante hacer de su conocimiento;</h3>
    <h3 class="texto">Para que usted pueda acceder a distintas promociones y/u ofertas de ElectroHogar y/o de sus socios comerciales, así como la oferta de publicidad selectiva o contenidos de interés</h3>
    <h3 class="texto">Para proporcionar otros productos relacionados con electroHogar y/o sus socios comerciales, así como para realizar acciones de marketing y publicidad;</h3>
    <h3 class="texto">Para análisis, investigación estadística o similar;</h3>
    <h3 class="texto">Otros fines que pudieran guardar relación con los descriptos anteriormente.</h3>
    <h3 class="texto">ElectroHogar podrá recopilar o recibir información personal de los usuarios y consumidores a través de sus socios comerciales y/o Servicios Técnicos que hayan participado en la contratación.</h3>
    <h3 class="texto">Toda su información Personal será almacenada en una base de datos a nombre de ElectroHogar y será tratada con los niveles de seguridad requeridos por la LPDP y normativa complementaria a modo de evitar pérdidas, accesos no autorizados, alteraciones y mal usos, aunque usted asume que las medidas de seguridad no son infalibles y que podrían existir casos en los que se generen accesos no autorizados, pérdida de información, alteraciones y/o mal usos de su información personal. Sin embargo para estos casos ElectroHogar realizará en la medida de sus posibilidades las acciones que crean conducentes para mitigar los riesgos indicados.</h3>
    <h3 class="texto">Se informa que ElectroHogar podrá utilizar, conservar y compartir la información personal por usted brindada, a empresas, afiliadas y/o vinculadas contractualmente, las cuales podrán encontrarse locadas en países sin legislación adecuada en materia de protección de datos personales, cumpliéndose con los estándares de protección, seguridad y derechos en materia de Protección de Datos Personales conforme la normativa aplicable Argentina y la LPDP.</h3>
    
    <h2 class="subtitulo">Derechos de los titulares de los datos</h2>
    
    <h3 class="texto">Se informa que Usted en su carácter de titular de sus datos personales tendrá la posibilidad en todo momento de ejercer los derechos de acceso, rectificación y supresión de los datos conforme lo establece la LPDP y normativa complementaria.</h3>
    <h3 class="texto">Particularmente usted tiene derecho a: verificar si ElectroHogar posee datos personales suyos en relación a su contratación y acceder a dichos datos; exigir que se corrija cualquier información personal relacionada con usted que sea inexacta; y conocer las políticas y prácticas de ElectroHogar en relación con la protección de datos personales.</h3>
    <h3 class="texto">Las solicitudes de acceso, corrección u otras consultas relacionadas con su relación deben dirigirse telefónicamente al +54 0221 8888-1111 (6342), o por mail a atencionalcliente@ElectroHogar.net.</h3>
    <h3 class="texto">ElectroHogar debe proporcionarle la información solicitada dentro de los 10 días desde la solicitud. Usted también tiene el derecho de solicitar la rectificación, actualización y supresión de sus datos personales. ElectroHogar tomará las medidas pertinentes para responder a su solicitud en relación a estos derechos en un máximo de 5 días hábiles, desde la recepción del reclamo del titular de los datos.</h3>
    <h3 class="texto">Se informa que la AGENCIA DE ACCESO A LA INFORMACIÓN PÚBLICA, en su carácter de Órgano de Control de la Ley N° 25.326, tiene la atribución de atender las denuncias y reclamos que interpongan quienes resulten afectados en sus derechos por incumplimiento de las normas vigentes en materia de protección de datos personales.</h3>
   
    <%- include ('../partials/footer.ejs') %>
    <%- include ('../partials/scripts.ejs') %>

</body>
</html>