<!DOCTYPE html>
<html lang="es">
<%- include ('../partials/head.ejs') %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <body class="body-preguntas-frecuentes">

    <%- include ('../partials/header.ejs') %>

      <%- include ('../partials/nav.ejs') %>


    

        <div class="containerbstrap">
          <h1 class="tituPreFrecuen">Preguntas frecuentes</h1>
          <div class="containeter">
            <div class="row">
              <div class="col-md-g">
                <div class="accordion" id="accordionExample">
                  <div class="cardFAQ">
                    <div class="cardFAQ-header1" id="headingOne">
                      <h2 class="mb-01">
                        <button id="#btnFAQ" class="btn btn-linkPre" type="button" data-toggle="collapse"
                          data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          ¿Cómo puedo devolver o solicitar un cambio de producto?
                        </button>
                      </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                      data-parent="#accordionExample">
                      <div class="cardFAQ-body">
                        Los cambios y devoluciones del producto están sujetos a lo establecido en los términos y
                        condiciones del sitio.Para poder realizar esta gestión deberás contactarte telefónicamente al
                        0800-222-4672 o desde nuestro chat online.Por disposición de la Ley N° 24.240, el usuario tiene
                        derecho a solicitar el cambio o devolución del producto hasta 10 días posteriores a la fecha de
                        recepción de la compra.
                      </div>
                    </div>
                  </div>
                  <div class="cardFAQ">
                    <div class="cardFAQ-header1" id="headingTwo">
                      <h2 class="mb-01">
                        <button class="btn btn-linkPre collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          ¿El producto lo puede recibir cualquier persona?
                        </button>
                      </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="cardFAQ-body">
                        No. Solo podrá recibir el producto la persona autorizada por el titular de la compra en el
                        momento
                        de finalizar la misma. El autorizado deberá presentar el DNI original en el momento de la
                        entrega
                        para validar la identidad (sin excepción)
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cardFAQ">
                  <div class="cardFAQ-header1" id="headingThree">
                    <h2 class="mb-01">
                      <button class="btn btn-linkPre collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        ¿Cómo puedo seguir el estado del envío?
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                    data-parent="#accordionExample">
                    <div class="cardFAQ-body">
                      Todos nuestros envíos se realizan a través de Andreani. Una vez realizada la compra, te llegará
                      dentro de las primeras 48hs un mail con la factura y el link de seguimiento. En caso de no tener
                      esta información, podrás comunicarte telefónicamente al 0800-222-4672 o desde nuestro chat online
                    </div>
                  </div>
                </div>
              </div>
              <div class="cardFAQ">
                <div class="cardFAQ-header" id="headingFour">
                  <h2 class="mb-01">
                    <button class="btn btn-linkPre collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      ¿Cuáles son los plazos de entrega de los envíos a domicilio?
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="cardFAQ-body">
                    ¿Cuáles son los plazos de entrega de los envíos a domicilio?
                    Podrás consultar los plazos de entrega ingresando a la página del producto y haciendo click en “Ver
                    tiempos y costos de envío” ingresando tu código postal.
                  </div>
                </div>
              </div>
              <div class="cardFAQ">
                <div class="cardFAQ-header" id="headingFive">
                  <h2 class="mb-01">
                    <button class="btn btn-linkPre collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      ¿Cuáles son los medios de pago?
                    </button>
                  </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                  <div class="cardFAQ-body">
                    Podrás abonar tu compra a través de tarjetas de crédito o tarjetas de débito bancarias. Además,
                    podes
                    acceder al “simulador de cuotas” desde la página del producto para conocer las promociones bancarias
                    vigentes.
                  </div>
                </div>
              </div>
              <div class="cardFAQ">
                <div class="cardFAQ-header" id="headingSix">
                  <h2 class="mb-01">
                    <button class="btn btn-linkPre collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      ¿Cuáles son los días y horarios de atención?
                    </button>
                  </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                  <div class="cardFAQ-body">
                    Nuestro horario de atención al cliente es de lunes a viernes de 9 a 18hs. Podés contactarnos
                    telefónicamente al 0800-222-4672 o desde nuestro chat online
                  </div>
                </div>
              </div>
              <div class="cardFAQ">
                <div class="cardFAQ-header" id="headingSeven">
                  <h2 class="mb-01">
                    <button class="btn btn-linkPre collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                      ¿Puedo retirar el producto en sus oficinas?
                    </button>
                  </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                  <div class="cardFAQ-body">
                    No, las entregas se realizan únicamente con envío a domicilio
                  </div>
                </div>
              </div>
              <div class="cardFAQ">
                <div class="cardFAQ-header" id="headingEight">
                  <h2 class="mb-01">
                    <button class="btn btn-linkPre collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                      ¿Puedo abonar contra entrega?
                    </button>
                  </h2>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                  <div class="cardFAQ-body">
                    No, todas las compras se realizan con pago anticipado
                  </div>
                </div>
              </div>
              <div class="cardFAQ">
                <div class="cardFAQ-header" id="headingNine">
                  <h2 class="mb-01">
                    <button class="btn btn-linkPre collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                      ¿Qué debo hacer si el producto no llega en buen estado?
                    </button>
                  </h2>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                  <div class="cardFAQ-body">
                    Si recibís un producto que no llega en buen estado y estás dentro de los primeros 10 días desde que
                    recibiste la compra, podés contactarte telefónicamente al 0800-222-4672 o a nuestro chat online y
                    realizaremos el cambio correspondiente.
                  </div>
                </div>
              </div>
              <div class="cardFAQ">
                <div class="cardFAQ-header" id="headingTen">
                  <h2 class="mb-01">
                    <button class="btn btn-linkPre collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                      ¿Los productos tienen garantía?
                    </button>
                  </h2>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                  <div class="cardFAQ-body">
                    Sí, todos nuestros productos cuentan con la garantía oficial de las marcas.
                  </div>
                </div>
              </div>
              <div class="cardFAQ">
                <div class="cardFAQ-header" id="headingEleven">
                  <h2 class="mb-01">
                    <button class="btn btn-linkPre collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                      ¿Hacen envíos a todo el país?
                    </button>
                  </h2>
                </div>
                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven"
                  data-parent="#accordionExample">
                  <div class="cardFAQ-body">
                    Sí, realizamos envíos a todo el país excepto Tierra del Fuego.
                  </div>
                </div>
              </div>
              <div class="cardFAQ">
                <div class="cardFAQ-header" id="headingTwelve">
                  <h2 class="mb-01">
                    <button class="btn btn-linkPre collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                      ¿Cuál es el costo del envío?
                    </button>
                  </h2>
                </div>
                <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve"
                  data-parent="#accordionExample">
                  <div class="cardFAQ-body">
                    El importe del envío será determinado en función del producto y del domicilio de entrega. Podrás
                    verificarlo durante el proceso de compra
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <%- include ('../partials/footer.ejs') %>
          <%- include ('../partials/scripts.ejs') %>

          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>

</html>