<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>

    <%- include ('../partials/nav.ejs') %>

    <main class="mainsearch">

        

        <% if (result.length >= 1 ) { %>
                <span class="searchresulth2">Resultados de la búsqueda: <b><%- search %></b> </span>            
         <div class="boxarea">
            <div class="boxareachild1">
                <span><b><%- result.length %> </b>Productos</span>
            </div>

            <div class="boxareachild2">
               <span>Vista:</span>  
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter"><path d="M4 4h4v4H4zm6 0h4v4h-4zm6 0h4v4h-4zM4 10h4v4H4zm6 0h4v4h-4zm6 0h4v4h-4zM4 16h4v4H4zm6 0h4v4h-4zm6 0h4v4h-4z"></path></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter"><path d="M4 6h2v2H4zm0 5h2v2H4zm0 5h2v2H4zm16-8V6H8.023v2H18.8zM8 11h12v2H8zm0 5h12v2H8z"></path></svg>
            </div>

            <div class="boxareachild3">
                Filtrar por: <select class="selectprecio" name="selectprecio" id="">
                        <option value="menorprecio">Menor precio</option>
                        <option value="menorprecio">Mayor precio</option>
                    </select>
            </div>
            </div>

            <div class="section">

            <!-- Cards de productos -->

            <div class="cards">
                <% result.forEach(Product => { %>
                <div class="card">
                    <a href="/products/detail/<%- Product.id %>">
                        <div class="image-section">
                            <img src="/images/productsDB/<%- Product.productImages[0].image %>" alt="">
                        </div>

                        <div class="description">
                            <h1>
                                <% if (Product.name.length > 30) { %>
                                <%- `${Product.name.slice(0,90)}...` %>
                                <% } else { %>
                                <%= Product.name %>
                                <% } %> </h1>
                            <span>$<%- Product.price %></span>
                        </div>
                        <small class="cuotas"> <%- Product.cuotes %> cuotas x <%- Product.price / Product.cuotes  %>
                        </small>

                        <span> </span>
                    </a>
                    <div class="button-group">
                        <a href="/products/detail/<%- Product.id %>" class="buy">Comprar</a>
                        <a href="/products/detail/<%- Product.id %>" class="cart">Agregar al carrito</a>
                    </div>

                    <div class="fav">
                        <i class="fa">&#xf004;</i>
                    </div>
                </div>

                <% }) %>

            </div>
            </div>

            <% } else {%>

                <div class="noresultcontainer">


                <div class="noresultdiv">
                    <span class="searchresulth2">Resultados de la búsqueda: <b><%- search %></b> </span>            
                </div>

                <div class="noResults"><svg class="BannerNoSuggestion_NotFoundImageStyled-shopping-uisc-vjcb3w-0 gLxMkm" xmlns="http://www.w3.org/2000/svg" width="70" height="66" viewBox="0 0 70 66"><g fill="none" fill-rule="evenodd"><path d="M0 0h70v66H0z"></path><path fill="#CDC2F2" fill-rule="nonzero" d="M35 14c10.493 0 19 8.507 19 19s-8.507 19-19 19-19-8.507-19-19 8.507-19 19-19zm.5 5C27.492 19 21 25.492 21 33.5S27.492 48 35.5 48 50 41.508 50 33.5 43.508 19 35.5 19z"></path><path fill="#654BB9" fill-rule="nonzero" d="M50.399 43.032l13.306 13.306a3.849 3.849 0 1 1-5.444 5.443L44.955 48.475l-.063-.066a18.08 18.08 0 0 0 5.44-5.44l.067.063zM35.177 13.253c11.046 0 20 8.955 20 20 0 11.046-8.954 20-20 20s-20-8.954-20-20c0-11.045 8.954-20 20-20zm0 2c-9.941 0-18 8.06-18 18 0 9.942 8.059 18 18 18s18-8.058 18-18c0-9.94-8.059-18-18-18z"></path><path fill="#654BB9" fill-rule="nonzero" d="M35.177 17.799c8.535 0 15.455 6.92 15.455 15.454 0 8.536-6.92 15.455-15.455 15.455s-15.455-6.92-15.455-15.455S26.642 17.8 35.177 17.8zm0 2c-7.43 0-13.455 6.024-13.455 13.454 0 7.431 6.024 13.455 13.455 13.455 7.43 0 13.455-6.024 13.455-13.455 0-7.43-6.024-13.454-13.455-13.454zM5.526 24.438c-4.732 16.503 4.667 33.71 21.03 38.691l.498.147.556-1.938C12.167 56.91 3.172 40.918 7.334 25.462l.13-.468-1.938-.556zm59.279 18.105c4.732-16.503-4.668-33.71-21.03-38.691l-.499-.147-.555 1.938c15.443 4.428 24.438 20.42 20.276 35.876l-.13.468 1.938.556z"></path><path fill="#654BB9" stroke="#654BB9" d="M23.977 58.229l-1.328 6.241 7.79-1.942zM45.345 7.744l1.328-6.241-7.789 1.942z"></path></g></svg><div class="styledStyledSubtitle-shopping-uisc-1eiyye1-4 gcVYMO"><p>No encontramos resultados para <span class="styledSemiBoldSpan-shopping-ui_sc-1eiyye1-9 ipvZnN"><%- search %>.</span></p><p>Utilizá palabras genéricas o navegá por las categorías para encontrar productos similares.</p></div></div>
                
            </div>


                <% } %>





    </main>




    <%- include ('../partials/footer.ejs') %>

    <%- include ('../partials/scripts.ejs') %>


</body>


</html>