<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include ('../partials/adminheader.ejs') %>

        
        <%- include ('../partials/adminnav.ejs') %>

        <main>

            

        </main>


                <%- include ('../partials/footer.ejs') %>
                    <%- include ('../partials/scripts.ejs') %>

    </body>

</html>