<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

<body>
    <%- include ('../partials/adminheader.ejs') %>

    <main>

        <div class="containeradminindex">
            <h3>Hola <%- user.name %> </h3>
        </div>
 

    </main>


    <%- include ('../partials/footer.ejs') %>
    <%- include ('../partials/scripts.ejs') %>

</body>

</html>