<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

<body>
    <%- include ('../partials/adminheader.ejs') %>

    <main>

<div class="navAdminBtn">
    <a href="/admin/products/create" class="productCreateA">Crear producto</a>
</div>
        

<div class="containerproductsAdmin">

            <% products.forEach(Product=> { %>
            <div class="cardAdmin">
                <a href="/products/detail/<%- Product.id %>">


                    <div class="descriptionAdmin">
                        <h1> <%= Product.name %> </h1>
                        <span>$<%- Product.price %></span>
                    </div>

                </a>
                <div class="button-groupAdmin">
                    <a href="/admin/product/edit/<%= Product.id %>" class="cart">Editar</a>
                    <a href="/products/detail/<%- Product.id %>" class="buy">Eliminar</a>
                </div>


            </div>

            <% }) %>

        </div>
 

    </main>


    <%- include ('../partials/footer.ejs') %>
    <%- include ('../partials/scripts.ejs') %>

</body>

</html>