<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs', {title: ' Crear producto | ElectroHogar'}) %>


    <body>

        <%- include('../partials/adminheader.ejs') %>


                <main class="creat">
                   
                    <h3 class="h3creatproduct">Creando un producto</h3>
                        <div class="formmain-create">

                            <form class="col-md-9 ms-sm-auto col-lg-10 px-md-4 row p-3 justify-content-center" action="/admin/products/create" method="POST" enctype="multipart/form-data">
                                <div class="col-12 col-md-6">
                                    <div class="col-12 mb-3">
                                        <label  for="inputName"  pattern="[a-z]*" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="inputName" name="inputName" value="<%= locals.old && old.name %>" />
                                      
                                            <small class="error" id="inputNameErrors"> 
                                                <%= (typeof errors != 'undefined' && errors.name) ? errors.name.msg : "" %>
                                             </small>
                                       
                                    </div>


                                    <div class="col-12 mb-3">
                                        <label for="inputName"  pattern="[a-z]*" class="form-label">Marca</label>
                                        <input type="text" class="form-control" id="inputBrand" name="brand" value="<%= locals.old && old.brand %>" />
                                       
                                            <small class="error" id="inputBrandErrors">
                                                <%= (typeof errors != 'undefined' && errors.brand) ? errors.brand.msg : "" %>
                                             </small>
                                       
                                    </div>

                    
                                    <div class="col-12 mb-3">
                                        <select class="form-select categorySelect" id="specificSizeSelect" name="category">
                                          <option selected hidden value="">Categorias</option>
                                        <% categories.forEach(category => { %>
                                            <option value="<%- category.id %>" <%= locals.old && old.category == category.id ? "selected" : "" %> ><%- category.name %> </option>
                                        <% }) %>
                                        </select>
                                        <% if (locals.errors && errors.category) { %>
                                            <small class="error"><%= errors.category.msg %> </small>
                                        <% } %>
                                        <small class="error" id="categoryErrors"></small> 
                                    </div>


                                    <div class="col-12 mb-3">
                                        <select class="form-select subcategorySelect" id="specificSizeSelectS" name="subcategory">
                                          <option selected hidden value="">Subcategorias</option>
                                          <% subcategories.forEach(subcategory => { %>
                                            <option value="<%- subcategory.id %>" <%= locals.old && old.subcategory.id == subcategory.id ? "selected" : ""  %> ><%- subcategory.name %> </option>
                                            <% }) %>
                                        </select>
                                        <% if (locals.errors && errors.subcategory) { %>
                                            <small class="error"><%= errors.subcategory.msg %> </small>
                                        <% } %>
                                        <small class="error" id="subcaErrors"></small>
                                    </div>


                                    <div class="col-12 mb-3">
                                        <label for="inputPrice" class="form-label">Precio</label>
                                        <input type="number" class="form-control" id="inputPrice" name="price" value="<%= locals.old && old.price %>">
                                        
                                            <small class="error" id="inputPriceErrors">
                                                <%= (typeof errors != 'undefined' && errors.price) ? errors.price.msg : "" %>
                                            </small>
                                       
                                    </div>


                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="col-12 mb-3">
                                        <label for="inputDiscount" class="form-label">Descuento</label>
                                        <input type="number" class="form-control" id="inputDiscount" name="discount" value="<%= locals.old ? old.discount : 0 %>">
                                        
                                            <small class="error" id="inputDiscountErrors">
                                                <%= (typeof errors != 'undefined' && errors.discount) ? errors.discount.msg : "" %>
                                                 </small>
                                       
                                    </div> 


                                    <div class="col-12 mb-3">
                                        <label for="inputDiscount" class="form-label">Cuotas</label>
                                        <input type="number" class="form-control" id="inputCuotes" name="cuotes" value="<%= locals.old ? old.discount : 0 %>">
                                        
                                            <small class="text-danger" id="inputCuotesErrors">
                                                <%= (typeof errors != 'undefined' && errors.cuotes) ? errors.cuotes.msg : "" %>
                                            </small>
                                        
                                    </div> 


                                    <div class="col-12 mb-3">
                                        <label for="inputImage" class="form-label">Imagen</label>
                                        <input type="file" name="image" class="form-control" aria-label="file example" id="inputImage" multiple>
                                        
                                            <small class="text-danger" id="inputImageErrors">
                                                <%= (typeof errors != 'undefined' && errors.image) ? errors.image.msg : "" %>
                                            </small>
                                        
                                    </div>


                                    <div class="col-12 mb-3">
                                        <label for="validationTextarea" class="form-label">Descripción</label>
                                        <textarea class="form-control" id="validationTextarea" name="description"> <%= locals.old && old.description %> </textarea>
                                        
                                            <small class="text-danger" id="validationTextareaErrors">
                                                  <%= (typeof errors != 'undefined' && errors.description) ? errors.description.msg : "" %>
                                            </small>
                                       
                                    </div>
                                </div>
                    
                                <button type="submit" class="btn btn-outline-primary col-3 mt-3">
                                    CREAR
                                </button>
                            </form>
                            </div>
                        </main>
                                
                        

                <%- include ('../partials/footer.ejs') %>
                    <%- include ('../partials/scripts.ejs') %>
                   <script src="/js/validacionCreateProd.js"></script> 
    </body>

    

</html>