<!DOCTYPE html>
<html lang="es">
<input type="checkbox" id="check" />
<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>
      <%- include ('../partials/nav.ejs') %>

        <main class="edit">
          
          <h3 class="h3editprod">Estás editando el producto:<p class="produ-titulo"><%- product.nombre %></p></h3>

          <div class="formmain">
            <form action="/admin/products/detail/<%- product.id %>?_method=PUT" method="POST" >
              <div class="formproduct">
                <label for="nombre">Nombre del producto:</label>
                <input class="edit" type="text" name="nombre" id="nombre" value="<%- product.nombre %>" />

                <label for="nombre">Marca:</label>
                <input class="edit" type="text" name="marca" id="marca" value="<%- product.marca %>" />

                <label for="nombre">Precio:</label>
                <input class="edit" type="text" name="precio" id="precio" value="<%- product.precio %>" />

                <label for="descripcion">Descripcion: </label>
                <textarea class="text" name="descripcion" id="descripcionid" cols="30" rows="10"></textarea>

                <div class="div-file">
                  <p class="textoo">Agregar archivo</p>
                  <input class="file" type="file" name="imagen" id="imagen" />
                </div>

                <label for="category" class="form-label">Categoría:</label>
                <div class="select">
                  <select name="category" id="category" class="form-input">
                    <option hidden>Elegí</option>
                    <option>Electro</option>
                    <option>TV & Audio</option>
                    <option>Cocinas</option>
                    <option>Celulares</option>
                    <option>Computacion</option>
                    <option>Gaming</option>
                  </select>
                </div>

                <button class="but" type="submit">Guardar producto</button>
              </div>
            </form>
          </div>
        </main>



        <%- include ('../partials/footer.ejs') %>
          <%- include ('../partials/scripts.ejs') %>
  </body>

</html>