<!DOCTYPE html>
<html lang="es">
  <input type="checkbox" id="check">

    <%- include('../partials/head.ejs')  %> 


<body>

    <%- include('../partials/header.ejs')  %> 


    <%- include('../partials/nav.ejs')  %> 


    <div class="container">
    <div class="logoLogin"> 
        <img src="/images/electrohogarlogo.png">
    </div>

  <p class="ingreso">Ingresa los datos de tu cuenta</p>
  
      <div class="form">
      <input class="input-style" type="Email" name="name" placeholder="Email:">
      <span class="error">Debes ingresar tu Email</span>
      </div>

       <div class="form">
        <input class="input-style" type="Contraseña" name="name" placeholder="Contraseña:">
        <span class="error">Debes ingresar tu Contraseña</span>
       </div>

       <span class="cuenta"> <button type="continue" class="btn btn-continue">Continuar </button> </span>

       
<div class="google-btn">
    <div class="google-icon-wrapper">
      <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
    </div>
    <a href="#"> <p class="btn-text"><b>Ingresa con google</b></p></a>    
  </div>

       <div class="datos"> 
       <div class="olvide"> <span class="centro"><a href="#" class="link"> Olvidé mi contraseña</a></span> </div>
        <span class="cuenta"> <button type="dsff" class="btn btn-cuenta">No tengo cuenta</button> </span>
       </div>

              <span> <a href="/" class="link"> Volver al menú de inicio</a> </span>
    </div>

    
    <%- include('../partials/footer.ejs')  %> 
    <%- include('../partials/scripts.ejs')  %> 

</body>
</html>