<!DOCTYPE html>
<html lang="es">
    <input type="checkbox" id="check">

  <%- include('../partials/head.ejs')  %> 


<body>
    <input type="checkbox" id="check">

    <%- include('../partials/header.ejs')  %> 


    <%- include('../partials/nav.ejs')  %> 

   <main>
    <div class="container-perfil">



        <p class="bienvenido">BIENVENIDO <b> Cosme Fulanito </b> A LA FECHA CONTAS CON: </p>

        <p class="datos"> Mis compras </p>

        <table class="tabladatos">

            <tr>
                <th>Orden</th>
                <th>Pedido</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Pago</th>
                <th>Estado de envio</th>
                <th>Total</th>

            </tr>

            <tr>
                <td>#8222</td>
                <td>Celular Moto G60</td>
                <td> 11/6/2021</td>
                <td>Abierta</td>
                <td>Pagado</td>
                <td>Envíado</td>
                <td>$1.449,55</td>
                <td><a href="www.correoargentino.com.ar/4945942/">Segui tu orden</a></td>
            </tr>

        </table>
        <p class="datos"> Mis datos </p>

        <div class="perfil2">
            <span> <b>Nombre:</b> Cosme</span>
            <span> <b>Apellido:</b> Fulanito</span>
            <span> <b>Email:</b> HankScorpio@gmail77.com</span>
            <span> <b>Contraseña:</b>*******</span>
            <span> <b>Telefono:</b> +221395930</span>
            <span> <b>DNI:</b> 43396920</span>
            <span> <b>Direccion:</b> Calle falsa 123</span>
            <span> <b>Codigo Postal:</b>1925</span>


        </div>

        <span class="cuenta"> <button type="continue" class="btn btn-continue">Editar mis datos</button></span>






        
    </div>
   </main>
   
   <%- include('../partials/footer.ejs')  %> 
   <%- include('../partials/scripts.ejs')  %> 

</body>

</html>