<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head.ejs')  %> 


<body>

    <%- include('../partials/header.ejs')  %> 


    <%- include('../partials/nav.ejs')  %> 

   <main>
    <div class="container-perfil">

        <p class="bienvenido">Bienvenido <b> <% if (typeof session.user != "undefined") { %>
        <span> <%= session.user.name %> </span>  

        <div class="perfil2">
          <p class="perfil2">Nombre: <%= session.user.name %> </p>
          <p class="perfil2">Apellido: <%= session.user.last_name %> </p>
          <p class="perfil2">Email: <%= session.user.email %></p>
          <p class="perfil2">Telefono: <%= session.user.tel %></p>
          <p class="perfil2">Direccion: <%= session.user.address %></p>
    
          </div>

      <% } else {%>
        Usuario
      <% } %> 


        
      
             <span class="cuenta"> <button type="continue" class="btn-continuee">Editar mis datos</button></span>
      
             <p class="datos"> Mis compras </p>
      
             <table>
      
               <tr>
                 <th>Orden</th>
                 <th>Fecha</th>
                 <th>Estado</th>
                 <th>Pago</th>
                 <th>Envío</th>
                 <th>Total</th>
                 
               </tr>
      
              <tr>
                 <td>#8222</td>
                 <td> 11/6/2021</td>
                 <td>Abierta</td>
                 <td>Pagado</td>
                 <td>Envíado</td>
                 <td>$1.449,55</td>
                 <td>Seguí tu orden</td>
              
              </tr>
              
             </table>
      
                  
          </div>
      
   
   <%- include('../partials/footer.ejs')  %> 
   <%- include('../partials/scripts.ejs')  %> 

</body>

</html>