<!DOCTYPE html>
<html lang="es">

<<<<<<< HEAD
<%- include('../partials/head.ejs', {title: ' Registrarse | ElectroHogar'}) %>
=======
<%- include('../partials/head.ejs', {title: ' Registrarse| ElectroHogar'}) %>
>>>>>>> 86994aa0e4bc211e903750b350b41204c9a68504

<body class="body-registro">

  <%- include('../partials/header.ejs') %>


  <%- include('../partials/nav.ejs') %>


  <main class="logregistermain">
    <div class="container">

      <div class="container-registro">
        <div class="logo-registro">
          <img src="/images/electrohogarlogo.png">
        </div>

        <p class="ingreso">Ingresa los datos de tu cuenta</p>

        <div class="formcenter">

          <form action="/users/registro" method="POST" class="form-registro">

            <div class="form">
              <input id="name" class="input-style" type="text" name="name" placeholder="Nombre:"
                value="<%= locals.old && old.name %>" />

              <span class="error" id="nameErrors">
                <%= (typeof errors != 'undefined' && errors.name) ? errors.name.msg : "" %>
              </span>

            </div>

            <div class="form">
              <input id="lastname" class="input-style email" type="text" name="last_name" placeholder="Apellido:"
                value="<%= locals.old && old.last_name %>" />
              <i class="fa-regular fa-circle-check"></i>
              <i class="fa-solid fa-circle-exclamation"></i>

              <span class="error" id="lastErrors">
                <%= (typeof errors != 'undefined' && errors.last_name) ? errors.last_name.msg : "" %>
              </span>

            </div>

            <div class="form">
              <input id="email" class="input-style" type="email" name="email" placeholder="Email:"
                value="<%= locals.old && old.email %>" />

              <span class="error" id="emailErrors">
                <%= (typeof errors != 'undefined' && errors.email) ? errors.email.msg : "" %>
              </span>

            </div>

            <div class="form">
              <input id="pass" class="input-style" type="password" name="pass1" placeholder="Contraseña:">

              <span class="error" id="passErrors">
                <%= (typeof errors != 'undefined' && errors.pass1) ? errors.pass1.msg : "" %>

              </span>

            </div>

            <div class="form">
              <input id="pass2" class="input-style" type="password" name="pass2" placeholder="Confirmar Contraseña:">

              <span class="error" id="pass2Errors">
                <%= (typeof errors != 'undefined' && errors.pass2) ? errors.pass2.msg : "" %>
              </span>

            </div>



        </div>

             <button type="submit" class="btnregistroo">Registrarse</button>

          </form>


        <a class="a_inicio" href="/users/login">Ya tengo una cuenta</a>
        <a class="a_inicio" href="/">Volver al menu de inicio</a>

      </div>


  </main>


  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/scripts.ejs') %>

  <script src="/js/modoOscu.js"></script>
</body>
<script src="/js/validacionRegistro.js"></script>
</body>

</html>